{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TradeWiz</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/assets/css/styles.min.css' %}" />
  <!-- Add the following CSS for collapsed sidebar -->
  <style>
    #sidebar.collapsed {
        width: 60px; /* Adjust the width for collapsed state */
    }

    #sidebar.collapsed .hide-menu {
        display: none; /* Hide the menu items in collapsed state */
    }

    /* Adjust main content padding when sidebar is collapsed */
    .main-content {
        transition: margin-left 0.3s ease;
    }

    #sidebar.collapsed + .main-content {
        margin-left: 60px; /* Adjust margin for main content when sidebar is collapsed */
    }
  </style>
</head>

<body>
<!-- Body Wrapper -->

<!-- Toast Container -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
  {% for message in messages %}
  <div class="toast align-items-center text-bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
      <div class="d-flex">
          <div class="toast-body">
              {{ message }}
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
  </div>
  {% endfor %}
</div>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar" id="sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="{% url 'dashboard' %}" class="text-nowrap logo-img" style="margin-left: 20px; margin-top: 25px;">
                    <img src="{% static 'dashboard/assets/images/logos/tradewizlogo.png' %}" width="180" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">USER MANAGEMENT</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'create_user' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Add Member</span>
              </a>
            </li>  
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'manage_user' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Manage Members</span>
              </a>
            </li> 
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">CONTROL MANAGEMENT</span>
            </li>   
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'create_control' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-plus"></i>
                </span>
                <span class="hide-menu">Add Control</span>
              </a>
            </li>          
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'manage_controls' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Manage Controls</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti- nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">LOG</span>
            </li>



            
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'daily_account_overview_list' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-eye"></i>
                </span>
                <span class="hide-menu">Daily Overview Log</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'dhan-kill-log-list' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-eye"></i>
                </span>
                <span class="hide-menu">View Kill Log</span>
              </a>
            </li>
            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">OPTION CHAIN</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-buttons.html" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">MIDCAP-NIFTY</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-alerts.html" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">FIN-NIFTY</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">BANK-NIFTY</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">NIFTY</span>
              </a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Icons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Sample Page</span>
              </a>
            </li> {% endcomment %}
          </ul>
          {% comment %} <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
            <div class="d-flex">
              <div class="unlimited-access-title me-3">
                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                <a href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
              </div>
              <div class="unlimited-access-img">
                <img src="{% static 'dashboard/assets/images/backgrounds/rocket.png' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div> {% endcomment %}
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <div class="mb-3 mb-sm-0 pr-5">
                <a  class="btn btn-outline-success mx-3  d-block">Logged : {{request.user}}</a>
              </div>
              <div class="mb-3 mb-sm-0 pr-5">
                <a  class="btn btn-outline-primary mx-3  d-block">Dashboard : {{user.username}}</a>
              </div>
              {% if dashboard_view %}
              <div>
                  <select class="form-select" id="userSelect">
                      <option value="" selected disabled>Select a user</option>
                      {% for user in users %}
                          <option value="{{ user.username }}">{{ user.username }}</option>
                      {% endfor %}
                  </select>
              </div>
              {% endif %}
              
              <script>
                  // Add event listener to the dropdown
                  document.getElementById('userSelect').addEventListener('change', function() {
                      var selectedUser = this.value;
                      if (selectedUser) {
                          // Redirect to the dashboard for the selected user
                          window.location.href = "/dashboard/" + selectedUser + "/";
                      }
                  });
              </script>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'dashboard/assets/images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="{% url 'logout'%}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      {% block content %}
        <div class="container-fluid" style="max-width: none;">
          <!--  Row 1 -->
          <div class="row">
            <div class="col-lg-8 d-flex align-items-strech">
              <div class="card w-100">
                <div class="card-body">
                  <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <div class="mb-3 mb-sm-0">
                      <h5 class="card-title fw-semibold">Trade Overview</h5>
                    </div>
                    <div>
                      <select class="form-select">
                        <option value="1">{{current_date}}</option>
                      </select>
                    </div>
                  </div>
                  <div id="chart"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <!-- Yearly Breakup -->
                  <div class="card overflow-hidden">
                    <div class="card-body p-4">
                      <h5 class="card-title mb-9 fw-semibold">Account Balance</h5>
                      <div class="row align-items-center">
                        <div class="col-8">
                          <h4 class="fw-semibold mb-3">₹ {{fund_data.data.availabelBalance|floatformat:2}}</h4>
                          <div class="d-flex align-items-center mb-3">
                            <span
                              class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                              <i class="fs-5 ti ti-cash text-success"></i>
                            </span>
                            <p class="text-dark me-1 fs-3  mb-0">Opening Balance :</p>
                            <p class="fs-3  mb-0">₹ {{fund_data.data.sodLimit|floatformat:2}}</p>
                          </div>
                          <div class="d-flex align-items-center mb-3">
                            <span
                              class="me-1 rounded-circle bg-light-primary round-20 d-flex align-items-center justify-content-center">
                              <i class="fs-5 ti ti-cash text-primary"></i>
                            </span>
                            <p class="text-dark me-1 fs-3  mb-0">Closing Balance :</p>
                            <p class="fs-3  mb-0">₹ {{actual_balance|floatformat:2}}</p>
                          </div>
                        </div> 
                        <div class="col-4">
                          <div class="d-flex justify-content-center">
                            <div id="breakup"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <!-- Monthly Earnings -->
                  <div class="card">
                    <div class="card-body">
                      <div class="row alig n-items-start">
                        <div class="col-8">
                          <h5 class="card-title mb-9 fw-semibold">Today Earnings</h5>
                          <h4 class="fw-semibold mb-3">₹ {{ total_realized_profit|floatformat:2 }}</h4>
                          
                          <div class="d-flex align-items-center pb-1">
                            {% if total_realized_profit > 0 %}
                              <!-- Positive value: up-right arrow and light success color -->
                              <span class="me-2 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                <i class="fs-5 ti ti-arrow-up-right text-success"></i>
                              </span>
                              <p class="text-success me-1 fs-3 mb-0 fw-bolder">{{pnl_percentage|floatformat:2}}&nbsp;&nbsp;%&nbsp;Profit</p>
                            {% elif total_realized_profit < 0 %}
                              <!-- Negative value: down-right arrow and light danger color -->
                              <span class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                                <i class="fs-5 ti ti-arrow-down-right text-danger"></i>
                              </span>
                              <p class="text-danger me-1 fs-3 mb-0 fw-bolder">{{pnl_percentage|floatformat:2}}&nbsp;&nbsp;%&nbsp;Loss</p>
                            {% else %}
                              <!-- Zero value: dot icon and light primary color -->
                              <span class="me-2 rounded-circle bg-light-primary round-20 d-flex align-items-center justify-content-center">
                                <i class="fs-5 ti ti-clock text-primary"></i>
                              </span>
                              <p class="text-primary me-1 fs-3 mb-0"></p>
                            {% endif %}
                          </div>
                        </div>
                        
                        <div class="col-4">
                          <div class="d-flex justify-content-end">
                            <div class="mb-3 mb-sm-0 pr-5">
                              <a class="btn btn-primary mx-3 fs-3 fw-bold d-block" 
                                 style="border-width: 3px; border-style: solid;">
                                P/L : &nbsp;&nbsp; {{ actual_profit|floatformat:2 }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="earning"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <!-- Card 2: New Card Title -->
              <div class="card">
                <div class="card-body">
                    <div class="row align-items-start">
                        <div class="col-8">
                            <h5 class="card-title mb-9 fw-semibold">Emergency Account Management</h5>
                            <h4 class="fw-semibold mb-3" id="order-status">₹ <span id="status-value">0.00</span></h4>
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                    <i class="fs-5 ti ti-check text-success"></i>
                                </span>
                                <p class="text-dark me-1 fs-3 mb-0">Details:</p>
                                <p class="fs-3 mb-0" id="order-details">No order details available.</p>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <span class="me-1 rounded-circle bg-light-info round-20 d-flex align-items-center justify-content-center">
                                    <i class="fs-5 ti ti-info text-info"></i>
                                </span>
                                <p class="text-dark me-1 fs-3 mb-0">Another Detail:</p>
                                <p class="fs-3 mb-0" id="another-detail">No additional details available.</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex justify-content-end">
                                <div class="mb-3 mb-sm-0 pr-5">
                                  <button class="btn btn-success mx-3 fs-3 fw-bold d-block" 
                                  style="border-width: 3px; border-style: solid;" 
                                  value="{{user.username}}" id="action-button" 
                                        onclick="activateKillSwitch()">
                                    Activate Kill<br><span id="action-value"></span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>  
            </div>
          
            <div class="col-lg-4">
              <!-- Card 3: New Card Title -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-start">
                    <div class="col-8">
                      <h5 class="card-title fw-semibold" style="margin-bottom: 14px !important;">Risk Overview</h5>

                      <div class="d-flex align-items-center mt-5">
                        <span class="me-1 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-power text-danger"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0 fw-bold flex-shrink-0" style="width: 150px;">Kill Status:</p>
                        <div class="ms-auto">
                            {% if user.kill_switch_1 and not user.kill_switch_2 %}
                                <span class="badge bg-warning text-dark fs-3">Kill-1</span>
                            {% elif not user.kill_switch_1 and not user.kill_switch_2 %}
                                <span class="badge bg-success fs-3">No Kill</span>
                            {% elif user.kill_switch_1 and user.kill_switch_2 %}
                                <span class="badge bg-danger fs-3">Kill-2</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mt-2">
                        <span class="me-1 rounded-circle bg-light-warning round-20 d-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-power text-warning"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0 fw-bold flex-shrink-0" style="width: 150px;">Auto Kill:</p>
                        <div class="ms-auto">
                            {% if user.is_active %}
                                <span class="badge bg-success fs-3">Active</span>
                            {% else %}
                                <span class="badge bg-warning fs-3">Inactive</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center mt-2">
                        <span class="me-1 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                            <i class="fs-5 ti ti-stairs-down text-danger"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0 fw-bold flex-shrink-0" style="width: 150px;">Auto SL:</p>
                        <div class="ms-auto">
                            {% if user.auto_stop_loss %}
                                <span class="badge bg-success fs-3">Enabled</span>
                            {% else %}
                                <span class="badge bg-warning fs-3">Disabled</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="mb-3 mb-sm-0 pr-5">
                          <a id="smartExitButton" data-username="{{ user.username }}" 
                             class="btn btn-danger mx-2 fs-3 fw-bold  d-block" 
                             style="border-width: 1px; border-style: solid; cursor: pointer;">
                            Quick&nbsp;Exit </br>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Card 1: Today Expense -->
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-start">
                    <div class="col-8">
                      <h5 class="card-title mb-9 fw-semibold">Today Expense</h5>
                      <h4 class="fw-semibold mb-3">₹ {{total_expense|floatformat:2}}</h4>
                      <div class="d-flex align-items-center mb-3">
                        <span class="me-1 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                          <i class="fs-5 ti ti-clock text-danger"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0">Order Limit:</p>
                        <p class="fs-3 mb-0">{{order_limit}}</p>
                      </div>
                      <div class="d-flex align-items-center mb-3">
                        <span class="me-1 rounded-circle bg-light-primary round-20 d-flex align-items-center justify-content-center">
                          <i class="fs-5 ti ti-cash text-primary"></i>
                        </span>
                        <p class="text-dark me-1 fs-3 mb-0">Brokerage:</p>
                        <p class="fs-3 mb-0">₹ {{day_exp_brokerge|floatformat:2}}</p>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="mb-3 mb-sm-0 pr-5">
                          <a class="btn btn-primary mx-3 fs-3 fw-bold d-block" style="border-width: 3px; border-style: solid;">
                            Order Count </br>{{ order_count }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch">
              <div class="card w-100">
                <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="card-title fw-semibold mb-0">Positions</h5>
                      <!-- Pagination Controls -->
                      <div class="pagination-controls d-flex align-items-center">
                          <button id="prevPagepos" class="btn btn-primary rounded-circle me-2">‹</button>
                          <span id="pageInfopos" class="mx-2"></span>
                            <button id="nextPagepos" class="btn btn-primary rounded-circle">›</button>
                        </div>
                    </div>
                  <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <table class="table text-nowrap mb-0 align-middle" id="positionsTable">
                      <thead class="text-dark fs-4">
                        <tr>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Trading Symbol</h6></th>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Position Type</h6></th>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Buy Quantity</h6></th>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Buy Average Price</h6></th>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Realized Profit</h6></th>
                          <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Unrealized Profit</h6></th>
                        </tr>
                      </thead>
                      <tbody id="positionsTableBody">
                        {% for position in position_data.data %}
                        <tr>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">{{ position.tradingSymbol }}</h6>
                          </td>
                          <td class="border-bottom-0">
                            <span class="fw-normal">{{ position.positionType }}</span>
                          </td>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">{{ position.buyQty }}</h6>
                          </td>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">₹{{ position.buyAvg|floatformat:2 }}</h6>
                          </td>
                          <td class="border-bottom-0">
                            {% if position.realizedProfit > 0 %}
                            <span class="badge bg-success rounded-3 fw-semibold">₹{{ position.realizedProfit|floatformat:2 }}</span>
                            {% elif position.realizedProfit < 0 and position.realizedProfit > -100 %}
                            <span class="badge bg-warning rounded-3 fw-semibold">₹{{ position.realizedProfit|floatformat:2 }}</span>
                            {% else %}
                            <span class="badge bg-danger rounded-3 fw-semibold">₹{{ position.realizedProfit|floatformat:2 }}</span>
                            {% endif %}
                          </td>
                          <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">₹{{ position.unrealizedProfit|floatformat:2 }}</h6>
                          </td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="6" class="text-center fw-semibold">No Positions Found</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
  
            <div class="col-lg-6 d-flex align-items-stretch">
              <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="card-title fw-semibold mb-0">Recent Transactions</h5>
                      <!-- Pagination Controls -->
                      <div class="pagination-controls d-flex align-items-center">
                          <button id="prevPage" class="btn btn-primary rounded-circle me-2">‹</button>
                          <span id="pageInfo" class="mx-2"></span>
                            <button id="nextPage" class="btn btn-primary rounded-circle">›</button>
                        </div>
                    </div>
                      <div class="table-responsive">
                          <table class="table text-nowrap mb-0 align-middle">
                            <table class="table">
                              <thead class="text-dark fs-4">
                                  <tr>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Order ID</h6></th>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Status</h6></th>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Transaction</h6></th>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Quantity</h6></th>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Price</h6></th>
                                      <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Order Time</h6></th>
                                  </tr>
                              </thead>
                              <tbody id="ordersTableBody">
                                  {% for order in orderlistdata.data %}
                                  <tr>
                                      <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ order.orderId }}</h6></td>
                                      <td class="border-bottom-0">
                                          {% if order.orderStatus == 'PENDING' %}
                                          <span class="badge bg-warning rounded-3 fw-semibold">Pending</span>
                                          {% elif order.orderStatus == 'COMPLETED' %}
                                          <span class="badge bg-success rounded-3 fw-semibold">Completed</span>
                                          {% else %}
                                          <span class="badge bg-secondary rounded-3 fw-semibold">{{ order.orderStatus }}</span>
                                          {% endif %}
                                      </td>
                                      <td class="border-bottom-0">
                                          <p class="badge bg-success rounded-3 fw-semibold">{{ order.transactionType }}</p>
                                      </td>
                                      <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ order.quantity }}</h6></td>
                                      <td class="border-bottom-0"><h6 class="fw-semibold mb-0 fs-4">₹{{ order.price|floatformat:2 }}</h6></td>
                                      <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ order.createTime }}</h6></td>
                                  </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        {% endblock %}
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">TradingWitch</a> Distributed by <a href="https://themewagon.com">TradingWitch</a></p>
        </div>
      </div>
    </div>
  </div>
  <script>
      // JavaScript Pagination Logic
      document.addEventListener('DOMContentLoaded', function() {
          const rowsPerPage = 6; // Number of rows per page
          const tableBody = document.getElementById('ordersTableBody');
          const rows = tableBody.getElementsByTagName('tr');
          const totalRows = rows.length;
          let currentPage = 1;
          let totalPages = Math.ceil(totalRows / rowsPerPage);

          // Display page info
          const pageInfo = document.getElementById('pageInfo');
          pageInfo.innerText = `Page ${currentPage} of ${totalPages}`;

          // Function to display a specific page
          function displayPage(page) {
              // Hide all rows
              for (let i = 0; i < totalRows; i++) {
                  rows[i].style.display = 'none';
              }

              // Display the rows for the current page
              let start = (page - 1) * rowsPerPage;
              let end = Math.min(start + rowsPerPage, totalRows);
              for (let i = start; i < end; i++) {
                  rows[i].style.display = '';
              }

              // Update page info
              pageInfo.innerText = `Page ${page} of ${totalPages}`;
          }

          // Initial display
          displayPage(currentPage);

          // Pagination controls
          document.getElementById('prevPage').addEventListener('click', function() {
              if (currentPage > 1) {
                  currentPage--;
                  displayPage(currentPage);
              }
          });

          document.getElementById('nextPage').addEventListener('click', function() {
              if (currentPage < totalPages) {
                  currentPage++;
                  displayPage(currentPage);
              }
          });
      });

      const rowsPerPage = 6;
      let currentPage = 1;

      const tableBody = document.getElementById('positionsTableBody');
      const prevButton = document.getElementById('prevPagepos');
      const nextButton = document.getElementById('nextPagepos');
      const pageInfo = document.getElementById('pageInfopos');

      function displayTable() {
        const rows = tableBody.getElementsByTagName('tr');
        const totalPages = Math.ceil(rows.length / rowsPerPage);

        // Hide all rows initially
        for (let i = 0; i < rows.length; i++) {
          rows[i].style.display = 'none';
        }

        // Calculate the start and end index for the current page
        const start = (currentPage - 1) * rowsPerPage;
        const end = Math.min(start + rowsPerPage, rows.length);

        // Display rows for the current page
        for (let i = start; i < end; i++) {
          rows[i].style.display = '';
        }

        // Update pagination controls
        pageInfo.textContent = `Page ${currentPage} of ${totalPages}`;
        prevButton.disabled = currentPage === 1;
        nextButton.disabled = currentPage === totalPages || totalPages === 0;
      }

      // Event listeners for pagination buttons
      prevButton.addEventListener('click', () => {
        if (currentPage > 1) {
          currentPage--;
          displayTable();
        }
      });

      nextButton.addEventListener('click', () => {
        const totalRows = tableBody.getElementsByTagName('tr').length;
        const totalPages = Math.ceil(totalRows / rowsPerPage);
        if (currentPage < totalPages) {
          currentPage++;
          displayTable();
        }
      });

      // Initial display of the table
      displayTable();

  </script>
  <script>
    // JavaScript for AJAX Call
    document.getElementById("smartExitButton").addEventListener("click", function() {
      const username = this.getAttribute("data-username"); // Get the username from the data attribute
      console.log("username:", username);
  
      // Trigger the AJAX function
      fetch('/close-all-positions/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username: username })
      })
      .then(response => response.json())
      .then(data => {
        // Create a toast element
        const toastContainer = document.querySelector('.toast-container');
        const toast = document.createElement('div');
        toast.className = `toast align-items-center text-bg-${data.message ? 'success' : 'danger'} border-0`;
        toast.role = 'alert';
        toast.ariaLive = 'assertive';
        toast.ariaAtomic = 'true';
        toast.dataset.bsDelay = '3000';
        toast.innerHTML = `
          <div class="d-flex">
            <div class="toast-body">
              ${data.message ? data.message : 'Error: ' + data.error}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        `;
  
        // Append the toast to the toast container
        toastContainer.appendChild(toast);
        
        // Show the toast
        const toastInstance = new bootstrap.Toast(toast);
        toastInstance.show();
  
        console.log("Sell Order Response:", data.response);
      })
      .catch(error => {
        console.error("Error:", error);
        // Handle error toast
        const toastContainer = document.querySelector('.toast-container');
        const toast = document.createElement('div');
        toast.className = 'toast align-items-center text-bg-danger border-0';
        toast.role = 'alert';
        toast.ariaLive = 'assertive';
        toast.ariaAtomic = 'true';
        toast.dataset.bsDelay = '3000';
        toast.innerHTML = `
          <div class="d-flex">
            <div class="toast-body">
              Error: ${error.message}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        `;
  
        // Append the error toast to the toast container
        toastContainer.appendChild(toast);
        
        // Show the error toast
        const toastInstance = new bootstrap.Toast(toast);
        toastInstance.show();
      });
    });

      // Track the initial status
      let previousStatus = null;
  
      function checkStatus() {
          $.ajax({
              url: "{% url 'check_log_status' %}",  // Replace with the URL of your Django view that returns the status
              type: "GET",
              success: function(response) {
                  // Assuming response contains a JSON object with a 'status' field
                  const currentStatus = response.status;
  
                  // If the status has changed, reload the page
                  if (previousStatus !== null && previousStatus !== currentStatus) {
                      location.reload();
                  }
  
                  // Update the previous status
                  previousStatus = currentStatus;
              },
              error: function(xhr, status, error) {
                  console.error("Error checking status:", error);
              }
          });
      }
  
      // Run checkStatus every 2 seconds
      setInterval(checkStatus, 2000);
  </script>

  {% comment %} <script>
      var domain =  window.location.hostname;
      var lastKeyword = '{{ user.username }}'; 
      var socketIndex = new WebSocket("wss://" + domain + "/ws/order_updates/" + lastKeyword + "/");

      socketIndex.onopen = function() {
          console.log("WebSocket connection established");
          // Optionally, send a message or initialization request here if needed
      };

      socketIndex.onmessage = function(event) {
          const data = JSON.parse(event.data);
          
          // Check if the data is valid and structured correctly
          if (data && data.Data && data.Type === "order_alert") {
              const { Status, Price, Quantity, TradedQty, Symbol, OrderNo } = data.Data;

              // Update the card elements with the received data
              document.getElementById('status-value').innerText = Price ? `₹ ${Price.toFixed(2)}` : '0.00';
              document.getElementById('order-details').innerText = `Order No: ${OrderNo || 'N/A'}, Symbol: ${Symbol || 'N/A'}, Quantity: ${Quantity || 'N/A'}, Traded Quantity: ${TradedQty || 'N/A'}`;
              document.getElementById('another-detail').innerText = `Status: ${Status || 'N/A'}`;
              document.getElementById('action-value').innerText = Status === "Cancelled" ? "Reorder" : "Update"; // Change based on status
              
              // Ensure the action button is visible
              const actionButton = document.getElementById('action-button');
              actionButton.style.display = 'block'; // Show button
              actionButton.innerText = Status === "Cancelled" ? "Reorder" : "Update"; // Update button text accordingly

          } else {
              // Reset to default state if no valid data is received
              resetCardToDefault();
          }
      };

      socketIndex.onclose = function(event) {
          console.log("WebSocket connection closed", event.reason);
          // Optionally, implement reconnection logic here
      };

      socketIndex.onerror = function(error) {
          console.error("WebSocket error:", error);
          // Handle error appropriately, e.g., show an error message to the user
      };

      function resetCardToDefault() {
          document.getElementById('status-value').innerText = '0.00';
          document.getElementById('order-details').innerText = 'No order details available.';
          document.getElementById('another-detail').innerText = 'No additional details available.';
          document.getElementById('action-value').innerText = 'N/A';
          
          // Hide the button if there's no data
          const actionButton = document.getElementById('action-button');
          actionButton.style.display = 'none';
      }
  </script> {% endcomment %}

  <script>
    function activateKillSwitch() {
          // Get the username from the button's value attribute
          const username = document.getElementById('action-button').value;

          fetch('/activate_kill_switch/', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify({ username: username })
          })
          .then(response => response.json())
          .then(data => {
              // Create a toast element
              const toastContainer = document.querySelector('.toast-container');
              const toast = document.createElement('div');
              toast.className = `toast align-items-center text-bg-${data.message ? 'success' : 'danger'} border-0`;
              toast.role = 'alert';
              toast.ariaLive = 'assertive';
              toast.ariaAtomic = 'true';
              toast.dataset.bsDelay = '3000';
              toast.innerHTML = `
                  <div class="d-flex">
                      <div class="toast-body">
                          ${data.message ? data.message : 'Error: ' + data.error}
                      </div>
                      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
              `;

              // Append the toast to the toast container
              toastContainer.appendChild(toast);

              // Show the toast
              const toastInstance = new bootstrap.Toast(toast);
              toastInstance.show();
          })
          .catch(error => {
              console.error('Error:', error);

              // Handle error toast
              const toastContainer = document.querySelector('.toast-container');
              const toast = document.createElement('div');
              toast.className = 'toast align-items-center text-bg-danger border-0';
              toast.role = 'alert';
              toast.ariaLive = 'assertive';
              toast.ariaAtomic = 'true';
              toast.dataset.bsDelay = '3000';
              toast.innerHTML = `
                  <div class="d-flex">
                      <div class="toast-body">
                          Error: ${error.message}
                      </div>
                      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
              `;

              // Append the error toast to the toast container
              toastContainer.appendChild(toast);

              // Show the error toast
              const toastInstance = new bootstrap.Toast(toast);
              toastInstance.show();
          });
      }
  </script>


    
  <script src="{% static 'dashboard/assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/app.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <!-- Optional JS files block -->
    {% block optional_js %}
    <script type="application/json" id="positions-data">
      {{ position_data_json|safe }}
    </script>
    <script>
      // Initialize all toasts
      document.addEventListener('DOMContentLoaded', function() {
          var toastElements = document.querySelectorAll('.toast');
          toastElements.forEach(function(toastEl) {
              var toast = new bootstrap.Toast(toastEl);
              toast.show();
            });
        });
    </script>
    <script src="{% static 'dashboard/assets/js/dashboard.js' %}"></script>
    <script src="{% static 'dashboard/assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    {% endblock %}
</body>
</html>


